
<body>
  <main class="tlo-container">
  <div class="container centered">
    <form ngForm #f="ngForm" (ngSubmit)="dodajSlowo(f)" style="margin: 20px">
        <div class="calosc">
      <div class="form-group row">
        <input 
            id="slowo" 
            type="text" 
            class="form-control col-4" 
            placeholder="Wprowadź słowo"
            ngModel name="slowo"  #slowo="ngModel"
            required minlength="2">     
        <button class="btn-main" [disabled]="!f.form.valid">Dodaj</button>
      </div>
      </div>
    </form>
  </div>
</main>
 
    <div class="container">
    <app-lista-slowo></app-lista-slowo>
  </div>

</body>