<div class="calosc">
  <!-- <h1 class="display-4" >
    <ng-container>
      {{pokoj.nazwa}}
    </ng-container>
  </h1> -->

  <form ngForm #f="ngForm" (ngSubmit)="dodajPytanie(f)" style="margin: 20px">
    
    <div class="form-group row">
      <input 
          id="pytanie" 
          type="text" 
          class="form-control col-4" 
          placeholder="Wprowadź pytanie"
          ngModel name="pytanie"  #pytanie="ngModel"
          required minlength="2">
           
      <button class="btn btn-light" [disabled]="!f.form.valid">Dodaj</button>
    
    </div>
  </form>

  <app-lista-pytanie></app-lista-pytanie>
</div>