<body>
  
  <main>
    <div class="tlo-container">
      <div class="container">
        
        <h1>{{grupa.nazwa}}</h1>
        <p>{{pokoj.nazwa}}</p>
      </div>
    </div>
  </main>

  <section *ngIf="!autorPokoj && !isAdmin" class="supporting">
  <div class="przyciski">
    <a class="btn-main" [routerLink]="['/grupa/',url[4], url[5],'dodaj-slowo']">Dodaj Slowo</a>
    <a class="btn-main" [routerLink]="['/grupa/',url[4], url[5],'dodaj-pytanie']">Dodaj Pytanie</a>
  </div>
  </section>
  <hr>
  <div class="container">
    <app-lista-slowo></app-lista-slowo>
  </div>
  <br>
  <hr>
  <div class="container">
    <app-lista-pytanie></app-lista-pytanie>
  </div>
  <br>
  <div *ngIf="autorPokoj || isAdmin" class="container-usun">
  <a (click)="DeletePokoj(url[5], url[4])" [routerLink]="['/grupa/',url[4]]">Usuń pokój <i class="far fa-trash-alt"></i></a> 
</div>
</body>
