<body>
  <main>
    <div class="tlo-container">
      <div class="container">
        <h1 *ngIf="grupa">{{grupa.nazwa}}</h1>
        <p *ngIf="grupa">{{grupa.prowadzacy}}</p>
      </div>
    </div>
  </main>

  <div class="container">
    <div class="dane">
        <p *ngIf="grupa">Nazwa grupy: <br><b> {{grupa.nazwa}}</b></p>
        <p *ngIf="grupa">Misto: <br><b> {{grupa.miasto}}</b></p>
        <p *ngIf="grupa">Prowadzący: <br><b> {{grupa.prowadzacy}}</b></p>
        <p *ngIf="grupa">Opis grupy: <br><b> {{grupa.opis}}</b></p>
    </div>
  </div>

  <hr>

  <section class="supporting">
    <div *ngIf="isAutor" class="container">
      <a class="btn-add" [routerLink]="['/grupa/',url[4],'dodaj-pokoj']">Dodaj nowy pokoj</a>
    </div>
    <div class="container">
      <br> 
      <br>
      <br>
      <app-lista-pokoj></app-lista-pokoj>
    </div>
  </section>

  <div *ngIf="isAutor || isAdmin" class="container-usun">
  <a (click)="DeleteGrupa(url[4])" [routerLink]="['/grupy']">Usuń grupę <i class="far fa-trash-alt"></i></a>
</div>
</body>