<ng-container>
  <div class="calosc">
    <h1 class="display-4">Witaj <b>{{nazwaUzytkownika}}</b>!</h1>
    <p class="lead">Poznaj zalety korzystania z aplikacji MeetUpApp!</p>
    <hr class="my-4">
    <p>Aby sprawdzić listę dostępnych meetów, przejdź do zakładki <b><a class="przejdz" [routerLink]="['/kursy']">Pokoje</a></b>.</p>
    <p>Aby znaleźć meet do którego już należysz, przedź do zakładki <b><a class="przejdz" [routerLink]="['/kursy']">Moje pokoje</a></b>.</p>
    
  </div>
</ng-container>