.row p {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0px;
    display: inline;
}

.btn-delete {
    float: right;
    cursor: pointer;
    text-decoration: none;
    color: #cb9b24;
    font-family: 'Raleway', sans-serif;
    margin-top: 6px;
    padding-right: 15px;
}
