<body>
  <div class="navbartlo">
    
    <div class="global-nav">

      <a routerLink="/"> 
        <div class="logo">
          <span>MeetUpApp</span>
        </div>
      </a>

      <!-- MENU DESKTOPOWE-->
      <div class="menu">
        <a *ngIf="!isLogin" routerLink="/logowanie">Zaloguj</a>
        <a *ngIf="!isLogin" routerLink="/rejestracja">Zarejestruj</a>
        <a *ngIf="isLogin" (click)="onClickLogout()">Wyloguj</a>
        <a *ngIf="isLogin" routerLink="/dodaj-grupe">Dodaj grupe</a>
        <a *ngIf="isLogin" routerLink="/grupy">Przeglądaj grupy</a>
      </div>
      
    </div>

        

      <div class="nav-item" *ngIf="isLogin">
        <a class="nav-link">{{nazwaUzytkownika}}</a>
        <img src="{{fotoUzytkownika}}" class="rounded-circle">
        <span class="badge pill badge-secondary">{{emailUzytkownika}}</span>
      </div>

  </div>

</body>