img.rounded-circle{
    width: 45px;
    height: 45px;
}

/*MENU DESKTOPOWE*/
.logo {
    position: absolute;
      
    /* position: fixed; */
    font-family:  'Pacifico', 'Damion', cursive;
    font-size: 80px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    color: #DAA520;
    opacity: 0.9;
  }
  
  .navbartlo{
    background-color: rgba(12, 12, 12, 0.6);;
    height:230px;
    margin-bottom: 50px;
  }
  
  .global-nav{
      top: 0;
      /* position: fixed; */
    z-index: 100;
    height: 100px;
    width: 100%;
      line-height: 200px;
      color: #FFF;
      -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
    z-index: 100;
  }
  
  .menu{
      text-align: right;
      width: 90%;
  }
  
  .menu a{
      color: #FFF;
      text-decoration: none;
      font-family: 'Bitter', 'Quicksand', sans-serif;
      font-size: 20px;
      margin: 0px 10px;
      padding: 10px 10px;
      position: relative;
      z-index: 100;
      cursor: pointer;
  }
  
  .menu a:focus, .menu a:hover{
    color: #DAA520;  
  }
  
  .menu a:before, .menu a:after{
      position: absolute;
      top: 22px;
      left: 50%;
      width: 50px;
      height: 50px;
      background: transparent;
      content: "";
      opacity: 0;
      transition: all 0.3s;
      z-index: -1;
  } 
  