<h1 class="display-4">Utworzone pokoje:</h1>
<!-- 
<div class="buttons">
  <input class="szukaj" (keyup.control.1)="onKeydown($event)" (keyup)="onKey($event)" placeholder="Szukaj">
</div> -->

<ul class="lista-pokoj">
    <ng-container *ngFor="let p of pokoj">
        <ng-container *ngIf="p.nazwa.substring(0,values.length).toUpperCase() == values.toUpperCase()">
            <li class="lista-pokoj-item col-sm-7 pokojStyle">
                 <app-pokoj [pokoj]="p"></app-pokoj>
            </li>
        </ng-container>
    </ng-container>
</ul>