
  .pokojStyle{
    margin: 10px;
    padding: 5px;
    padding-bottom: 15px;
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.8);

}

.pokojStyle:hover{
    cursor: pointer;
    border: 2px solid #dbc43e; 
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
  }

  li {
    list-style-type: none;
  }


@media (max-width: 500px) {
    .pokojStyle {
        width: 85%;
    }

    h1 {
        font-size: 30px;
      }
  }
