input.szukaj {
    border: 2px solid #ffffff; 
    position: relative;
    top: 5px;
    border-radius: 3px;
    padding: 10px 20px;
    float: left;
  }

  .kursStyle{
      margin: 20px;
      padding: 10px;
      padding-bottom: 15px;
      border-radius: 10px;
      background: rgb(255, 255, 255, 0.9);
  }

  .kursStyle:hover{
      cursor: pointer;
      border: 2px solid #dbc43e; 
  }
