<h1 class="display-4">Utworzone grupy</h1>

<div class="buttons">
  <input class="szukaj" (keyup.control.1)="onKeydown($event)" (keyup)="onKey($event)" placeholder="Szukaj">
</div>

<ul class="list-groupa ">
    <ng-container *ngFor="let g of grupy">
        <ng-container *ngIf="g.nazwa.substring(0,values.length).toUpperCase() == values.toUpperCase()">
            <li class="list-group-item col-sm-7 kursStyle">
                <app-grupa [user]="student" [grupa]="g"></app-grupa>
            </li>
        </ng-container>
    </ng-container>
</ul>