<ng-container>
<div class="buttons">
  <input class="szukaj" (keyup.control.1)="onKeydown($event)" (keyup)="onKey($event)" placeholder="Szukaj">
</div>
<br>
<br>
<hr>

<ul>
    <ng-container *ngFor="let g of grupy">
        <ng-container *ngIf="g.nazwa.substring(0,values.length).toUpperCase() == values.toUpperCase()">
            <li class="list-group-item col-sm-3 kursStyle">
                <app-grupa [grupa]="g"></app-grupa>
            </li>
        </ng-container>
    </ng-container>
</ul>
</ng-container>