<ng-container>
    <div class="calosc">
      <h1 class="display-4">Witaj w MeetUpApp!</h1>
      <p class="lead">MeetUpApp to darmowe i praktyczne rozwiązanie ułatwiające 
        prowadzenie i uczestnictwo w spotkaniach. </p>
      <p class="lead">Śledź każde niezrozumiałe słówko i nie przeocz ciekawego pytania.</p>
      <hr class="my-4">
      <p>Przekonaj się już dziś jak sprawnie to działa!</p>
      <p>Zaloguj się i poznaj wszystkie możliwości aplikacji.</p>
      <a class="button" [routerLink]="['/logowanie']" role="button" title="Zaloguj">Zaloguj juz teraz!</a>
      <br>
      <br>
      <br>
      <p> Nie posiadasz jeszcze konta? </p>
      <a class="button" [routerLink]="['/rejestracja']" role="button" title="Dołącz do nas!">Zarejestruj</a>
      <br>
      <br>
  
    </div>
  </ng-container>