
main {
  text-align: center;
  position: relative;
}

main h1 {
  color: #e0e0e2;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 200px;
  padding-top: 80px;
  margin-bottom: 90px;
}

main p {
  margin-top:50px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  color: #e0e0e2;
}


.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.tlo-container {
  height: 800px;
  background-image: url("https://images.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg?auto=compress&cs=tinysrgb&h=750&w=1260"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-main {
  font-family: 'Raleway', sans-serif;
  color: #dbc43e;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  background: rgb(241, 240, 240);
  border-radius: 3px;
  border: 2px solid #dbc43e;
}

.btn-main:hover {
  text-decoration: none;
  font-size: 20px;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.supporting img {
  height: 32px;
}


.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.supporting a {
  font-family: 'Raleway', sans-serif;
  color: #dbc43e;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  background: rgb(241, 240, 240);
  border-radius: 3px;
  border: 2px solid #dbc43e; 
}

.supporting a:hover {
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 500px) {
  main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
    margin-bottom: 40px;
  }
}