<ng-container>
  <div class="calosc">
  
    <form (submit)="onSubmitLogin()">
      <h1 class="text-center" align="center">Zaloguj do MeetUpNotes</h1>
          
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Hasło</label>
        <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control">
      </div>
      <div class="form-group">

        <input class='button btn btn-primary btn-block btn-lg' type="submit" value="Zaloguj za pomocą e-mail">
        <br>
        <br>
      </div>
      
    </form>

    <button class="btn btn-primary btn-block btn-lg btn-google" (click)="onClickGoogleLogin()" ><i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp;Zaloguj z konta google</button>

  </div>
</ng-container>
